<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.phrapp">
    <!-- <uses-permission android:name="android.permission.INTERNET" /> -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:usesCleartextTraffic="true"
        tools:ignore="ExtraText">
        <activity
            android:name=".Abha_update_mobile"
            android:exported="false" />
        <activity
            android:name=".Abha_update_email"
            android:exported="false" />
        <activity
            android:name=".Vitals_Activity"
            android:exported="false" />
        <activity
            android:name=".Abha_Delete_abha"
            android:exported="false" />
        <activity
            android:name=".Abha_Profile_section"
            android:exported="false" />
        <activity
            android:name=".User_Logged_in_via_abha_HomePage"
            android:exported="false" />
        <activity
            android:name=".TimeLineActivity"
            android:exported="false" />
        <activity
            android:name=".login2"
            android:exported="false" />
        <activity
            android:name=".temp2"
            android:exported="false" />
        <activity
            android:name=".dashboard"
            android:exported="false" />
        <activity
            android:name=".option_login"
            android:exported="false" />
        <activity
            android:name=".register"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            />
        </activity>
        <activity
            android:name=".Abha_Register"
            android:exported="false" />
        <activity
            android:name=".Abha_Forgot_Abha"
            android:exported="false" />
        <activity
            android:name=".Abha_Login"
            android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>